body {
  background: #f8f8f8;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0;
  color: #333;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* 全てのp要素に行間を指定 */
p {
  line-height: 2;
}

body > section {
  padding: 60px 0;
}

/* 奇数番目のセクションタイトルだけ背景色を白くする */
body > section:nth-of-type(odd) {
  background: #fff;
}

.section-title {
  text-align: center;
  font-weight: normal;
  margin: 0 0 60px;
}

header h1 {
  font-size: 28px;
  font-weight: normal;
}

/* 最初は非表示 */
#menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .9);
  color: #fff;
  display: none;
}

/* クリックするとメニューが表示される */
#menu.shown {
  display: block;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

#menu li {
  line-height: 2;
}

#menu a {
  text-decoration: none;
  /* 親要素の色を引き継ぐinherit */
  color: inherit;
}

#open_menu {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

#close_menu {
  padding: 15px;
  float: right;
  cursor: pointer;
}

.feature img {
  width: 100%;
}

/* 最後の子要素だけpadding-bottomを指定しない */
/* 擬似要素を指定 */
.feature:not(:last-child) {
  margin-bottom: 60px;
}

.news-item img {
  width: 100%;
}

.news-item:not(:last-child) {
  margin-bottom: 60px;
}

.how-to-use iframe {
  /* 絶対配置の指定 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* 16:9の計算
100% : x% = 16 : 9
x% = 9 * 100% / 16 = 56.25%
*/
.how-to-use .iframe-wrapper {
  /* background: pink; */
  /* 親領域（containar）
  の幅に対しての割合*/
  /* 4:1割合*/
  /* padding-bottom: 25%; */
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
}

footer {
  text-align: center;
  color: #ccc;
  padding: 60px 0;
}

/* medium screens */
@media (min-width: 570px) {

  .feature img {
    width: 50%;
  }

  .feature p {
    width: 45%;
  }

  /* 奇数番目はpを右に配置する */
  .feature:nth-of-type(odd) p {
    float: right;
    /* 余った5%の余白を左側につける */
    padding-left: 5%;
  }

  /* 偶数番目はpを左に配置する */
  .feature:nth-of-type(even) p {
    float: left;
    /* 余った5%の余白を左側につける */
    padding-right: 5%;
  }

  /* floatを親要素で解除する */
  .feature {
    overflow: hidden;
  }

  /* newsitemをflexで３カラムにする */
  .news .flex {
    display: flex;
    justify-content: space-between;
  }

  .news-item {
    width: 30%;
  }

}

/* large screens */
@media (min-width: 912px) {
  /* ディスプレイ画面の幅の固定 */
  .container {
    width: 820px;
  }

  #open_menu {
    display: none;
  }

  #close_menu {
    display: none;
  }

  #menu {
    display: block;
    /* 固定配置を元の規定値に戻す */
    position: static;
    /* 背景色を消す */
    background: transparent;
    color: #333;
  }

  #menu ul {
    padding: 0;
    float: right;
  }

  #menu li {
    display: inline-block;
    width: 60px;
    text-align: center;
  }
}
